<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->
<!--    <h2 th:text="${nomeMes + ' ' + ano}"></h2>-->

<!--
<!--        <tr th:each="linha : ${#numbers.sequence(0,5)}">-->
<!--            <td th:each="dia, stat : ${diasDoMes}">-->
<!--                <div th:if="${stat.index >= linha*7 and stat.index < (linha+1)*7}">-->
<!--                    <div class="dia" th:text="${dia.dayOfMonth}"></div>-->
<!--                    <ul>-->
<!--                        <li th:each="nota : ${anotacoes[dia]}" th:text="${nota}"></li>-->
<!--                    </ul>-->

<!--                        <form th:action="@{/anotar}" method="post">-->
<!--                            <input type="hidden" name="data" th:value="${data}">-->
<!--                            <input type="text" name="texto" placeholder="Anotar" size="10">-->
<!--                            <button type="submit">+</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->

<!--</body>-->
<!--</html>-->