<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- DATA AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- DATA AOS  final-->
    <link rel="shortcut icon" href="img/icone-branco-removebg-preview.png">
     <!-- icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- final icones -->
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do Polo</title>
</head>
<body>

    <!-- Barra de navegação -->
        <div class="menu-bar">
            <h1 class="logo"> Portal do <span> Polo</span></h1>
        <ul>
            <li><a href="#"> Home </a></li>
            <li><a href="#"> Calendário </a></li>
            <li><a href="#"> Vagas </a></li>
            <li><a href="#"> Projetos <i class="fas fa-caret-down"></i></a>
             <div class="dropdown-menu">
                <ul>
                    <li> <a href="#"> Time 1</a></li>
                    <li> <a href="#"> Time 2</a></li>
                    <li> <a href="#"> Time 3</a></li>
                    <li> <a href="#"> Time 4</a></li>
                    <li> <a href="#"> Time 5</a></li>
                </ul>
            </div>
            </li>
        </ul>
        </div>

<section class="container-carrossel">
    <div class="carrossel">
        <div class="slides">
            <img src="img/2.png" alt="Slide 1">
            <img src="img/3.png" alt="Slide 2">
            <img src="img/4.png" alt="Slide 3">
        </div>
        <button class="esquerda">&#10094;</button>
        <button class="direita">&#10095;</button>
    </div>

    <!-- Ondas Parallax -->
    <div class="ondas">
        <div class="onda" id="onda1"></div>
        <div class="onda" id="onda2"></div>
    </div>
</section>

    <!-- SOBRE O POLO -->
     <section class="infoCesmar" data-aos="fade-right">
        <div class="titulo" >
            <h1> Sobre o CESMAR</h1>
        </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis totam at sit tenetur commodi quam error molestiae omnis vel pariatur quaerat, placeat maxime unde qui quis consequuntur, accusantium nesciunt doloremque!</p>
        </div>
     </section>

     <div class="titulo-autacao">
        <h1>Áreas de atuação</h1>
     </div>
     <!-- CARDS -->
     
     <div class="container-card">
        <div class="card" data-aos="zoom-in-down">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/12/46/lynx-4940240_1280.jpg" alt="">

            <div class="infos-cesmar" data-aos="fade-left">
                <h3>Sócio educativo</h3>
                <p >Os linces são caçadores ativos e a maioria da suas presas é composta por animais de pequeno porte como roedores, lebres.Outros tipos de lince já estão extintos na natureza,devido ao desmatamentos das florestas.</p>
            </div>
        </div>

        <div class="card" data-aos="zoom-in-down">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/12/46/lynx-4940240_1280.jpg" alt="">

            <div class="infos-cesmar" data-aos="fade-left">
                <h3>Polo</h3>
                <p >Os linces são caçadores ativos e a maioria da suas presas é composta por animais de pequeno porte como roedores, lebres.Outros tipos de lince já estão extintos na natureza,devido ao desmatamentos das florestas.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae at, dignissimos eaque, quibusdam molestiae optio eos maiores repellendus tempora a quam consequuntur voluptate minima 
                </p>
                <div class="btn">
                    <a href="#"> saiba mais</a>
                </div>
                
            </div>
        </div>

        <div class="card" data-aos="zoom-in-down">
             <img src="https://cdn.pixabay.com/photo/2020/03/17/12/46/lynx-4940240_1280.jpg" alt="">

            <div class="infos-cesmar" data-aos="fade-left">
                <h3>Escola</h3>
                <p >Os linces são caçadores ativos e a maioria da suas presas é composta por animais de pequeno porte como roedores, lebres.Outros tipos de lince já estão extintos na natureza,devido ao desmatamentos das florestas.</p>
            </div>
        </div>

    
     </div>
    <!-- SOBRE O POLO FINAL -->

    <script src="script.js"></script>
    
    
    <!-- Carrossel automático final-->



    <!-- data aos -->
  <script>
        AOS.init();
      </script>
    
</body>
</html>